div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
button{
  background-color: #8A00C4;
  text-shadow: 0 0 5px  #8A00C4, 0 0 10px  #8A00C4;
  width: 100px;
  height: 100px;
}

