div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
button{
  background-color: #A0522D;
  text-shadow: 0 0 5px  #A0522D, 0 0 10px  #A0522D;
  width: 100px;
  height: 100px;
}

